In [1]:
# import libraries
import pandas as pd
import numpy as np

# get the data from csv file to dataframe
raw_data = pd.read_csv('data/amazon_datafiniti.csv', low_memory=False)

# check column name
raw_data.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateAdded',
       'reviews.dateSeen', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [2]:
raw_data.head()

,id,dateAdded,dateUpdated,name,asins,brand,categories,primaryCategories,imageURLs,keys,...,reviews.dateSeen,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.username,sourceURLs
0,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-09-18T00:00:00Z,2017...",False,NaN,0,3,http://reviews.bestbuy.com/3545/5442403/review...,I thought it would be as big as small paper bu...,Too small,llyyue,https://www.newegg.com/Product/Product.aspx%25...
1,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,"2018-05-27T00:00:00Z,2017-07-07T00:00:00Z,2017...",True,NaN,0,5,http://reviews.bestbuy.com/3545/5442403/review...,This kindle is light and easy to use especiall...,Great light reader. Easy to use at the beach,Charmi,https://www.newegg.com/Product/Product.aspx%25...
2,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,4,https://reviews.bestbuy.com/3545/5442403/revie...,Didnt know how much i'd use a kindle so went f...,Great for the price,johnnyjojojo,https://www.newegg.com/Product/Product.aspx%25...
3,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-10-09T00:00:00Z,True,177283626.0,3,5,https://redsky.target.com/groot-domain-api/v1/...,I am 100 happy with my purchase. I caught it o...,A Great Buy,Kdperry,https://www.newegg.com/Product/Product.aspx%25...
4,AVqVGZNvQMlgsOJE6eUY,2017-03-03T16:56:05Z,2018-10-25T16:36:31Z,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",B00ZV9PXP2,Amazon,"Computers,Electronics Features,Tablets,Electro...",Electronics,https://pisces.bbystatic.com/image2/BestBuy_US...,allnewkindleereaderblack6glarefreetouchscreend...,...,2018-05-27T00:00:00Z,True,NaN,0,5,https://reviews.bestbuy.com/3545/5442403/revie...,Solid entry level Kindle. Great for kids. Gift...,Solid entry-level Kindle. Great for kids,Johnnyblack,https://www.newegg.com/Product/Product.aspx%25...

In [3]:
# check unique username and goods name
user_count = raw_data['reviews.username'].unique().shape[0]
item_count = raw_data['name'].unique().shape[0]

print("user count: " + str(user_count) + ", item count: " + str(item_count))

user count: 3815, item count: 23

In [4]:
raw_data.shape

(5000, 24)

In [5]:
# make item table
itemdf = pd.DataFrame()
itemid = []
itemname = list(set(raw_data['name']))
itemdf['itemname'] = itemname
itemdf.insert(0, 'itemId', range(1, 1 + len(itemname)))
itemdf

    itemId                                           itemname
0        1  Fire HD 8 Tablet with Alexa, 8" HD Display, 32...
1        2  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
2        3  Amazon Tap - Alexa-Enabled Portable Bluetooth ...
3        4  Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...
4        5  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
5        6          Amazon - Kindle Voyage - 6" - 4GB - Black
6        7  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
7        8  Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...
8        9  Brand New Amazon Kindle Fire 16gb 7" Ips Displ...
9       10  Kindle Oasis E-reader with Leather Charging Co...
10      11  Amazon Fire TV with 4K Ultra HD and Alexa Voic...
11      12  Amazon 9W PowerFast Official OEM USB Charger a...
12      13  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
13      14  Amazon Echo Show Alexa-enabled Bluetooth Speak...
14      15  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
15      16        Amazon - Echo Plus w/ Built-In Hub - Silver
16      17  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
17      18  Kindle Oasis E-reader with Leather Charging Co...
18      19  Fire Tablet with Alexa, 7" Display, 16 GB, Mag...
19      20  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
20      21  Amazon Kindle E-Reader 6" Wifi (8th Generation...
21      22  Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black
22      23  Kindle E-reader - White, 6 Glare-Free Touchscr...

In [6]:
# make user table
userdf = pd.DataFrame()
userid = []
username = list(set(raw_data['reviews.username']))
userdf['username'] = username
userdf.insert(0, 'userId', range(1, 1 + len(username)))
userdf

      userId          username
0          1              Stew
1          2         Satyendra
2          3           Buckeye
3          4        SamtheSham
4          5           Destiny
5          6         Czrgarcia
6          7      AnnieBananie
7          8          Bearsfan
8          9              Kuby
9         10        arghe11282
10        11       Melissa0414
11        12          DarrellM
12        13           Heather
13        14          TechToys
14        15       okrednekgal
15        16      Tessellation
16        17         rstan5121
17        18            Kendel
18        19          flex3117
19        20             RCLSU
20        21            Tuowls
21        22             JEM58
22        23              Rich
23        24             Preeb
24        25            Yoli91
25        26             Blake
26        27             Spuds
27        28           Michael
28        29           roka318
29        30       Jazthepanda
...      ...               ...
3785    3786      Gregschaub05
3786    3787            Coycox
3787    3788             bball
3788    3789         Tully1923
3789    3790              BPh1
3790    3791          ravip005
3791    3792             Karen
3792    3793     Otterboxbuyer
3793    3794              kmat
3794    3795  MarvintheMartian
3795    3796           mnbdude
3796    3797          lumpympc
3797    3798          Davedz87
3798    3799             Tiffj
3799    3800           jjhippo
3800    3801              Jays
3801    3802           Manuelm
3802    3803         Kmeireles
3803    3804            GoodPC
3804    3805           anneray
3805    3806           MartiAn
3806    3807             sub12
3807    3808            santon
3808    3809       ericandlisa
3809    3810   collisionadvice
3810    3811             Pugga
3811    3812          StereoDJ
3812    3813           Spicoly
3813    3814         Jandevito
3814    3815       metalbabe81

[3815 rows x 2 columns]

In [7]:
data_reviews = raw_data[
    ['name', 
     'reviews.username',
     'reviews.rating', 
     'reviews.text']
]
data_reviews.head()

,name,reviews.username,reviews.rating,reviews.text
0,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",llyyue,3,I thought it would be as big as small paper bu...
1,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Charmi,5,This kindle is light and easy to use especiall...
2,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",johnnyjojojo,4,Didnt know how much i'd use a kindle so went f...
3,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Kdperry,5,I am 100 happy with my purchase. I caught it o...
4,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Johnnyblack,5,Solid entry level Kindle. Great for kids. Gift...

In [8]:
reviewsdf= pd.merge(data_reviews, itemdf, how='left',
                    left_on='name', right_on='itemname')
reviewsdf= pd.merge(reviewsdf, userdf, how='left',
                    left_on='reviews.username', 
                    right_on='username')
reviewsdf.head()

,name,reviews.username,reviews.rating,reviews.text,itemId,itemname,userId,username
0,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",llyyue,3,I thought it would be as big as small paper bu...,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",2052,llyyue
1,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Charmi,5,This kindle is light and easy to use especiall...,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",2720,Charmi
2,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",johnnyjojojo,4,Didnt know how much i'd use a kindle so went f...,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",1419,johnnyjojojo
3,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Kdperry,5,I am 100 happy with my purchase. I caught it o...,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",503,Kdperry
4,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Johnnyblack,5,Solid entry level Kindle. Great for kids. Gift...,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",2159,Johnnyblack

In [9]:
reviewsdf.columns

Index(['name', 'reviews.username', 'reviews.rating', 'reviews.text', 'itemId',
       'itemname', 'userId', 'username'],
      dtype='object')

In [10]:
# Data Reduction

# remove reapeted column
reviewsdf.drop(['name', 
                'reviews.username', 
                'itemname', 'username'], axis=1,
               inplace = True)

reviewsdf.head()

,reviews.rating,reviews.text,itemId,userId
0,3,I thought it would be as big as small paper bu...,21,2052
1,5,This kindle is light and easy to use especiall...,21,2720
2,4,Didnt know how much i'd use a kindle so went f...,21,1419
3,5,I am 100 happy with my purchase. I caught it o...,21,503
4,5,Solid entry level Kindle. Great for kids. Gift...,21,2159

In [11]:
# rename the columns
reviewsdf.rename(
    columns={
        'itemId':'itemId',
        'userId': 'userId',
        'reviews.rating': 'rating', 
        'reviews.text': 'testimony'}, 
    inplace=True)

reviewsdf.head()

   rating                                          testimony  itemId  userId
0       3  I thought it would be as big as small paper bu...      21    2052
1       5  This kindle is light and easy to use especiall...      21    2720
2       4  Didnt know how much i'd use a kindle so went f...      21    1419
3       5  I am 100 happy with my purchase. I caught it o...      21     503
4       5  Solid entry level Kindle. Great for kids. Gift...      21    2159

In [12]:
# check the total reviews of each item before duplicate detected
check_reviews_subtotal_bef_dup = reviewsdf.groupby(['itemId']).count()
check_reviews_subtotal_bef_dup

        rating  testimony  userId
itemId
1           53         53      53
2          561        561     561
3          225        225     225
4          106        106     106
5           51         51      51
6           82         82      82
7          217        217     217
8          371        371     371
9          467        467     467
10          24         24      24
11           4          4       4
12          22         22      22
13          40         40      40
14         845        845     845
15          70         70      70
16         590        590     590
17          58         58      58
18          39         39      39
19         101        101     101
20         797        797     797
21          96         96      96
22          22         22      22
23         159        159     159

In [13]:
# sub total review before remove duplicate
itemdf['bef_subtotal_review']=[x for x in check_reviews_subtotal_bef_dup.rating]
itemdf

,itemId,itemname,bef_subtotal_review
0,1,"Fire HD 8 Tablet with Alexa, 8"" HD Display, 32...",53
1,2,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",561
2,3,Amazon Tap - Alexa-Enabled Portable Bluetooth ...,225
3,4,"Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...",106
4,5,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",51
5,6,"Amazon - Kindle Voyage - 6"" - 4GB - Black",82
6,7,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",217
7,8,"Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...",371
8,9,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",467
9,10,Kindle Oasis E-reader with Leather Charging Co...,24
10,11,Amazon Fire TV with 4K Ultra HD and Alexa Voic...,4
11,12,Amazon 9W PowerFast Official OEM USB Charger a...,22
12,13,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",40
13,14,Amazon Echo Show Alexa-enabled Bluetooth Speak...,845
14,15,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",70
15,16,Amazon - Echo Plus w/ Built-In Hub - Silver,590
16,17,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",58
17,18,Kindle Oasis E-reader with Leather Charging Co...,39
18,19,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",101
19,20,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",797
20,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",96
21,22,Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,22
22,23,"Kindle E-reader - White, 6 Glare-Free Touchscr...",159

In [14]:
reviewsdf.shape

(5000, 4)

In [15]:
print(reviewsdf.duplicated().sum())

195

In [16]:
# drop duplicate data
reviewsdf.drop_duplicates(keep="last", inplace=True)
reviewsdf.shape

(4805, 4)

In [17]:
# check the total reviews of each item after duplicate detected
check_reviews_subtotal = reviewsdf.groupby(['itemId']).count()
check_reviews_subtotal

        rating  testimony  userId
itemId
1           53         53      53
2          556        556     556
3          225        225     225
4           96         96      96
5           45         45      45
6           82         82      82
7          217        217     217
8          371        371     371
9          418        418     418
10          24         24      24
11           4          4       4
12          22         22      22
13          40         40      40
14         751        751     751
15          67         67      67
16         590        590     590
17          58         58      58
18          32         32      32
19         101        101     101
20         796        796     796
21          96         96      96
22          21         21      21
23         140        140     140

In [18]:
# sub total review after remove duplicate
itemdf['subtotal_review']=[x for x in check_reviews_subtotal.rating]
itemdf

,itemId,itemname,bef_subtotal_review,subtotal_review
0,1,"Fire HD 8 Tablet with Alexa, 8"" HD Display, 32...",53,53
1,2,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",561,556
2,3,Amazon Tap - Alexa-Enabled Portable Bluetooth ...,225,225
3,4,"Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...",106,96
4,5,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",51,45
5,6,"Amazon - Kindle Voyage - 6"" - 4GB - Black",82,82
6,7,"Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...",217,217
7,8,"Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...",371,371
8,9,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",467,418
9,10,Kindle Oasis E-reader with Leather Charging Co...,24,24
10,11,Amazon Fire TV with 4K Ultra HD and Alexa Voic...,4,4
11,12,Amazon 9W PowerFast Official OEM USB Charger a...,22,22
12,13,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",40,40
13,14,Amazon Echo Show Alexa-enabled Bluetooth Speak...,845,751
14,15,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",70,67
15,16,Amazon - Echo Plus w/ Built-In Hub - Silver,590,590
16,17,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",58,58
17,18,Kindle Oasis E-reader with Leather Charging Co...,39,32
18,19,"Fire Tablet with Alexa, 7"" Display, 16 GB, Mag...",101,101
19,20,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",797,796
20,21,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",96,96
21,22,Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,22,21
22,23,"Kindle E-reader - White, 6 Glare-Free Touchscr...",159,140

In [21]:
rating_convert = []
for x in reviewsdf['rating']:
    if x == 5:
        v = 3
    elif x == 4:
        v = 2.5
    elif x == 3:
        v = 2
    elif x == 2:
        v = 1.5
    else:
        v = 1
    rating_convert.append(v)
reviewsdf['rating'] = rating_convert

In [22]:
reviewsdf.head()

   rating                                          testimony  itemId  userId
0     1.5  I thought it would be as big as small paper bu...      21    2052
1     2.0  This kindle is light and easy to use especiall...      21    2720
2     1.0  Didnt know how much i'd use a kindle so went f...      21    1419
3     2.0  I am 100 happy with my purchase. I caught it o...      21     503
4     2.0  Solid entry level Kindle. Great for kids. Gift...      21    2159

In [27]:
from nltk.tokenize import word_tokenize 
import string
# Data Separation

# 1. identified which ids are included tablet type
all_item_id = [x for x in itemdf.itemId]

unuse_list = ['charger', 'tv','speaker','kindle','echo']
unuse_item_name = []
unuse_item_id = []

    
for index, row in itemdf.iterrows():
    itemname = str(row[1].lower())
    tokenitemname = word_tokenize(itemname)
    for tiname in tokenitemname:
        if tiname in unuse_list:
            unuse_item_id.append(row[0])
            unuse_item_name.append(row[1])
            break

use_item_id = list(set(all_item_id)-set(unuse_item_id))
use_item_id

[1, 2, 4, 5, 7, 8, 13, 15, 17, 19, 20]

In [28]:
# 2. create tablet items data frame
tabletdf = itemdf.loc[itemdf['itemId'].isin(use_item_id),
                     ['itemId','itemname']]
tabletdf

    itemId                                           itemname
0        1  Fire HD 8 Tablet with Alexa, 8" HD Display, 32...
1        2  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
3        4  Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...
4        5  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
6        7  Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16...
7        8  Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...
12      13  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
14      15  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
16      17  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...
18      19  Fire Tablet with Alexa, 7" Display, 16 GB, Mag...
19      20  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...

In [30]:
# 3. create tablets reviews data frame
tablets_reviewsdf = reviewsdf.loc[
                    reviewsdf['itemId'].isin(
                        tabletdf['itemId'])]
set(tablets_reviewsdf.itemId)

{1, 2, 4, 5, 7, 8, 13, 15, 17, 19, 20}

In [37]:
tablets_reviewsdf.shape

(2400, 4)

In [31]:
use_item_id

[1, 2, 4, 5, 7, 8, 13, 15, 17, 19, 20]

In [38]:
# save reviews 
reviewsdf.to_csv("data/reviews.csv")
# save tablet reviews 
tablets_reviewsdf.to_csv("data/tablets_reviews.csv")
# save the itemdf to csv file
itemdf.to_csv("data/item.csv")
# save the userdf to csv file
userdf.to_csv("data/user.csv")

In [33]:
# split data training-testing from the tablet reviews df
# make data training 
DataTrain = pd.DataFrame
DataTrain = tablets_reviewsdf.sample(frac = .8)
DataTrain.head()
DataTrain.shape

(1920, 4)

In [34]:
# make data test
DataTest = pd.DataFrame
DataTest = tablets_reviewsdf.sample(frac = .2)
DataTest.head()
DataTest.shape

(480, 4)

In [35]:
# save the data training and testing
DataTrain.to_csv("data/data_training.csv")
DataTest.to_csv("data/data_testing.csv")