In [1]:
# import libraries
import pandas as pd
import numpy as np

# get the data from csv file to dataframe
item = pd.read_csv('data/modal/item.csv', low_memory=False)
itemadd = pd.read_csv('data/modal/item_addition.csv', low_memory=False)

In [2]:
all_item = pd.concat([item, itemadd])

In [7]:
all_item.head()

  Category  itemId                                           itemname
0   Kindle       1  Brand New Amazon Kindle Fire 16gb 7" Ips Displ...
1       TV       2  Amazon Fire TV with 4K Ultra HD and Alexa Voic...
2  Adapter       3  Amazon 9W PowerFast Official OEM USB Charger a...
3   Tablet       4  Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...
4   Tablet       5  All-New Fire HD 8 Tablet, 8" HD Display, Wi-Fi...

In [4]:
all_item.drop("URL", axis=1, inplace=True)

In [6]:
all_item.drop("Unnamed: 0", axis=1, inplace=True)

In [8]:
all_item.to_csv('data/upload/item.csv')

In [2]:

reviews.rename(
    columns={
        'Unnamed: 0':'reviewId'}, 
    inplace=True)

reviews.columns

Index(['reviewId', 'rating', 'testimony', 'itemId', 'userId'], dtype='object')

In [3]:
tablet_reviews.dtypes

Unnamed: 0           int64
reviewId             int64
rating             float64
testimony           object
itemId               int64
userId               int64
testimony_value     object
dtype: object

In [28]:
reviews = pd.read_csv('data/reviews/reviews.csv', low_memory=False)
reviews.dtypes

reviewId      int64
rating        int64
testimony    object
itemId        int64
userId        int64
dtype: object

In [5]:
tablet_reviews.merge(reviews,on='reviewId',
                   how='outer').dropna(subset=['reviewId']).fillna('').to_csv("data/tablet_reviews_newitemid.csv")

In [7]:
item = pd.read_csv('data/modal/item.csv')

In [68]:
item.columns

Index(['Unnamed: 0', 'itemId', 'itemname', 'Category'], dtype='object')

In [8]:
idSpeaker = item.itemId[item.Category =='Speaker']
idSpeaker

10    11
19    20
22    23
Name: itemId, dtype: int64

In [11]:
idKindle = item.itemId[item.Category =='Kindle']
idKindle

0      1
8      9
11    12
16    17
17    18
18    19
20    21
Name: itemId, dtype: int64

In [69]:
idTV = item.itemId[item.Category =='TV']
idTV

1    2
Name: itemId, dtype: int64

In [17]:
idAdapter = item.itemId[item.Category =='Adapter']
idAdapter

2    3
Name: itemId, dtype: int64

In [18]:
adapter_reviews = reviews[reviews.itemId.isin(idAdapter)]

In [89]:
# tv_reviews =reviews.groupby(['itemId']==2)
tv_reviews = reviews[reviews['itemId']==2]

tv_reviews.shape

(4, 5)

In [91]:
reviews.groupby(['itemId']).count()

        reviewId  rating  testimony  userId
itemId
1            418     418        418     418
2              4       4          4       4
3             22      22         22      22
4            371     371        371     371
5            796     796        796     796
6             67      67         67      67
7            217     217        217     217
8             96      96         96      96
9            140     140        140     140
10            45      45         45      45
11           225     225        225     225
12            21      21         21      21
13            58      58         58      58
14           101     101        101     101
15            40      40         40      40
16           556     556        556     556
17            24      24         24      24
18            32      32         32      32
19            96      96         96      96
20           590     590        590     590
21            82      82         82      82
22            53      53         53      53
23           751     751        751     751

In [12]:
kindle_reviews = reviews[reviews.itemId.isin(idKindle)]

In [9]:
speaker_reviews = reviews[reviews.itemId.isin(idSpeaker)]

In [95]:
adapter_reviews = reviews[reviews.itemId.isin(idAdapter)]
adapter_reviews.shape

(22, 5)

In [15]:
kindle_reviews.shape
# kindle_reviews.to_csv("data/old/kindle_reviews_all.csv")

In [17]:
# kindle_reviews.sample(frac = .2).to_csv("data/kindle_test.csv")

In [24]:

import re
def reduce_lengthening(text):
    pattern = re.compile(r"(.)\1{2,}")
    return pattern.sub(r"\1\1", text)

reduce_lengthening("look")

'look'

In [4]:
## heading

In [21]:
import pandas as pd
tablet_reviews = pd.read_csv('data/reviews/tablet_test.csv', low_memory=False)

In [13]:
# speaker_reviews.sample(frac = .2).to_csv("data/reviews/speaker_test.csv")

In [20]:
# tv_reviews.to_csv("data/reviews/tv_test.csv")

In [96]:
adapter_reviews.to_csv("data/reviews/adapter_test_new.csv")

In [22]:
tablet_reviews.columns

Index(['Unnamed: 0', 'reviewId', 'rating', 'hum_testimony', 'testimony',
       'itemId', 'userId'],
      dtype='object')

In [29]:
rating_convert = []
for x in tablet_reviews['rating']:
    if x == 3:
        v = 5
    elif x == 2.5:
        v = 4
    elif x == 2:
        v = 3
    elif x == 1.5:
        v = 2
    else:
        v = 1
    rating_convert.append(v)
tablet_reviews['rating'] = rating_convert   
tablet_reviews

,Unnamed: 0,reviewId,rating,hum_testimony,testimony,itemId,userId
0,0,3979,1,pos,I have really enjoyed it so far. While not per...,5,3585
1,1,2963,1,pos,I purchased this tablet for my 3 year old and ...,7,1256
2,2,3899,5,pos,I love my tablet. It is super easy and loads f...,5,1506
3,3,2326,3,neg,Battery dies after an hour...should last longe...,7,188
4,4,2385,5,pos,"It is great if you are a prime member , case i...",16,3023
5,5,2242,5,pos,Since I purchased mine the wife thought she wo...,4,618
6,6,2931,5,pos,My son is constantly distracted and loves tech...,16,2397
7,7,1817,5,pos,This was a gift for my kids. They love them. E...,16,1068
8,8,3211,5,pos,I was initially going to just get the Amazon K...,8,1553
9,9,2309,1,pos,"Good product, great price. Big improvement ove...",4,862
10,10,2898,1,pos,I purchased this tablet for my grandmother to ...,4,1872
11,11,3669,5,pos,We love this so much in our home. We bought a ...,5,3518
12,12,4187,3,neu,"The specs are good, feels solid, can't stand t...",5,2677
13,13,3238,5,neu,"As I age, it's difficult for me to see the sma...",8,3643
14,14,2403,5,pos,Great price - great shipping - great item! Per...,16,710
15,15,3947,1,pos,Great tablet - lag free when running apps... G...,5,1484
16,16,2799,1,pos,This was the first tablet we purchased for our...,16,2130
17,17,2830,5,pos,Love the apps. His old fire stood up to signif...,16,3111
18,18,2660,5,pos,We replaced and aging fire HDX. She noticed th...,6,1368
19,19,2919,5,pos,Easy to set up and durable grandpa dropped it ...,7,3653
20,20,1893,1,pos,"My kids love this product, as do I. Parental r...",16,1821
21,21,2492,1,pos,Best thing I got my kids. They don't ask to bo...,16,2214
22,22,2209,5,pos,So my 18 month old maybe the future computer w...,7,481
23,23,2459,1,pos,My stepkids are pretty rough on their toys and...,16,2024
24,24,2033,5,pos,My 3 year old got it for his birthday and he l...,16,3735
25,25,2562,5,pos,This amazon tablet is perfect for first time u...,16,2279
26,26,3652,5,pos,I bought this item for my nephew and he loves ...,5,253
27,27,2918,5,pos,"he loved it was a great gift easy to use, smal...",16,1824
28,28,2823,1,pos,I really like it my complants is that it gives...,16,320
29,29,3945,5,pos,Very good tablet for the price economical and ...,5,1770
...,...,...,...,...,...,...,...
1890,1890,2624,5,pos,I love that the kids can only do what you allo...,16,1517
1891,1891,2493,1,pos,Good kids tablet for games and videos but the ...,16,26
1892,1892,2195,5,pos,Fantastic tablet fire one is great. Small and ...,6,489
1893,1893,2595,1,neu,I enjoy reading with my Kindle Fire. That is t...,4,1186
1894,1894,4091,3,neg,I'm disappointed that it doesn't have a mirror...,5,3538
1895,1895,3777,5,pos,Inexpensive tablet for him to use and learn on...,5,2378
1896,1896,2055,5,pos,My daughter love it she don't really brother m...,16,1753
1897,1897,2498,5,pos,"Young kids love it, easy to use and takes a be...",7,292
1898,1898,2017,5,pos,Got it for my grandson he loves it.it is a ver...,7,788
1899,1899,3642,1,neu,I was using this for a while it was 10X faster...,5,860
1900,1900,1628,1,pos,My daughter loves that it is pink and she enjo...,7,1357
1901,1901,4837,5,pos,Ordered for my daughter to replace an older ve...,13,2662
1902,1902,2321,3,pos,"I love these Tablets, but the charging ports a...",16,1144
1903,1903,2917,1,pos,Searched around for the perfect tablet for my ...,7,1721
1904,1904,2778,5,pos,My daughter loves this tablet. She drops it an...,16,1538
1905,1905,2115,3,neg,You get what you pay for Was not to happy but ...,16,3352
1906,1906,2513,5,pos,My sons love playing on their tablet. Not only...,16,2941
1907,1907,1821,1,pos,My kid love this tablet!! The setup was so eas...,16,1473
1908,1908,1807,1,pos,Bought 2 of these for my 6 and 8 yr old and it...,6,2163
1909,1909,2347,5,pos,Great..I love it..Glad I got it..My nephew lov...,7,2375
1910,1910,2753,5,pos,Bought for my grandson. He loves playing with ...,16,523
1911,1911,2016,1,neu,The color is what got me and the features was ...,7,1190
1912,1912,1631,5,pos,Easy to use. A useful source for kids activity...,4,999
1913,1913,4116,5,pos,I needed to upgrade from the orginal Kindle fi...,5,2601
1914,1914,3484,5,pos,Bought it as an e-reader. Convenient and easy ...,5,2292
1915,1915,3228,5,pos,Great notepad! Huge screen and easily download...,8,2734
1916,1916,2545,5,pos,Bought for my 2 yr old grandson.. and he loves...,7,139
1917,1917,4167,5,pos,Could not have asked for a better tablet for t...,5,3770
1918,1918,2439,5,pos,Using for Pandora in an office setting. Set up...,4,3237
1919,1919,1566,5,pos,Bought this for my six year old grandson. The ...,16,2226

In [31]:
# tablet_reviews.merge(reviews,on='reviewId',
#                    how='outer').dropna(subset=['reviewId']).fillna('').to_csv("data/tablet_reviews_newrating.csv")

In [14]:
import pandas as pd
tablet_reviews = pd.read_csv('data/reviews/tablet_test.csv', low_memory=False)
tv_reviews = pd.read_csv('data/reviews/tv_test.csv', low_memory=False)
speaker_reviews = pd.read_csv('data/reviews/speaker_test.csv', low_memory=False)
adapter_reviews = pd.read_csv('data/reviews/adapter_test.csv', low_memory=False)
kindle_reviews = pd.read_csv('data/reviews/kindle_test.csv', low_memory=False)
addition_reviews = pd.read_csv('data/reviews/reviews_addition.csv', low_memory=False)

In [15]:
tablet_reviews.columns
# tablet_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [16]:
tv_reviews.columns
# tv_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [17]:
speaker_reviews.columns
# speaker_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [18]:
kindle_reviews.columns
# kindle_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [19]:
adapter_reviews.columns
# adapter_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [7]:
addition_reviews.columns
# addition_reviews.shape

Index(['reviewId', 'rating', 'hum_sentiment', 'testimony', 'itemId', 'userId'], dtype='object')

In [20]:
all_reviews_test = pd.concat([tv_reviews, speaker_reviews, kindle_reviews, adapter_reviews, tablet_reviews, addition_reviews])

In [21]:
all_reviews_test.shape

(1116, 6)

In [22]:
# reviews = pd.read_csv('data/reviews/reviews.csv', low_memory=False)
# tablet_test_reviews = pd.read_csv('data/old/SentimentDataTest.csv', low_memory=False)

In [62]:
# tablet_test_reviews.merge(reviews,on='reviewId',
#                    how='outer').dropna(subset=['reviewId']).fillna('').to_csv("data/tablet_reviews_new.csv")

In [23]:
all_reviews_test.to_csv("data/reviews/all_reviews_test.csv")